@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.header {
    height: 900px;
    background: url('../img/bg/bg1.png') center center/cover no-repeat;
}

.wrapper {
    width: 1120px;
    margin: 0 auto;
}

.head-links {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.head-links .head-links-list {
    display: flex;
    list-style-type: none;
}

.head-links .head-links-list .head-links-list-items {
    color: #fff;
    padding: 40px 0;
    margin-right: 40px;
    font-size: 16px;
    line-height: 20px;
}

.head-links .head-links-list .head-links-list-items:last-child {
    margin: 0;
}

.head-links .head-links-list .head-links-list-items:hover {
    border-bottom: 4px solid #fff;
}

.lines {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
}

.header-text .header-text__small {
    text-align: center;
    margin-top: 210px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.header-text .header-text__title {
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    margin-bottom: 50px;
}

.header-text .header-text__btn {
    display: block;
    margin: 0 auto;
    background-color: #4985FF;
    border: none;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.about {
    padding-top: 110px;
    padding-bottom: 105px;
}

.about .about_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
}

.about .about_text {
    width: 730px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 0 auto;
    margin-top: 50px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.items {
    display: flex;
    align-items: flex-start;
}

.items .img-block {
    width: 110px;
    height: 110px;
    background: #fff url("../icon/PROJECT.svg") center center/90px no-repeat;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.items .items-text {
    margin-left: 18px;
    margin-top: 35px;
}

.items .items-text .items-text__title {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.items .items-text .items-text__text {
    width: 222px;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.about .about__btn {
    width: 200px;
    height: 45px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 55px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.up-works {
    background: #f6f6f8;
    padding: 100px 0  70px 0;
}

.up-works .conteiner-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 30px;
}

.up-works .conteiner-work .conteiner-work-text {
    width: 489px;
}

.up-works .conteiner-work .conteiner-work-text .conteiner-work-text__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    padding-bottom: 50px;
}

.up-works .conteiner-work .conteiner-work-text .conteiner-work-text__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 30px;
}

.up-works .conteiner-work .conteiner-work-text .conteiner-work-text__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.up-works .conteiner-work .conteiner-work-img {
    width: 500px;
    height: 400px;
}

.up-works .conteiner-work .conteiner-work-img img {
    width: 100%;
}

.up-works .conteiner-projects {
    display: flex;
    justify-content: space-around;
}

.up-works .conteiner-projects .items {
    display: inherit;
    flex-direction: column;
    margin-right: 10px;
}

.up-works .conteiner-projects .items:last-child {
    margin-right: 0;
}

.up-works .conteiner-projects .items .items-info {
    display: inherit;
    align-items: center;
}

.up-works .conteiner-projects .items .items-info img {
    width: 30px;
}

.up-works .conteiner-projects .items .items-info .items-info__text {
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    margin-left: 20px;
}

.up-works .conteiner-projects .items .items__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.ourWorks {
    padding-top: 100px;
    padding-bottom: 85px;
    /* height: 970px; */
    background: url('../img/bg/bg2.png') center center/cover no-repeat;
}

.ourWorks .ourWorks-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourWorks .ourWorks-title .ourWorks-title__title {
    width: 540px;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
}

.ourWorks .ourWorks-title .ourWorks-title__btn {
    width: 200px;
    height: 45px; 
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.ourWorks .conteiner-ourWorks {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

.ourWorks .conteiner-ourWorks .items {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.ourWorks .conteiner-ourWorks .items .items-img {
    width: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ourWorks .conteiner-ourWorks .items .items-img img {
    width: 100%;
    margin: 0;
}

.ourWorks .conteiner-ourWorks .items .items-text {
    width: 350px;
    padding: 0;
    margin: 0;
}

.ourWorks .conteiner-ourWorks .items .items-text .items-text__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}

.ourWorks .conteiner-ourWorks .items .items-text .items-text__title span {
    color: #4985FF;
}

.ourWorks .conteiner-ourWorks .items .items-text .items-text__text {
    word-wrap: break-word;
    font-weight: normal;
    font-size: 14px;
    color: #999999;
    margin-bottom: 30px;
    width: 350px;
}

.ourWorks .conteiner-ourWorks .items .items-text .items-text__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-decoration-line: underline;

    /* Accent */

    color: #4985FF;
}

.all-projects {
    padding: 100px 0 130px 0;
    background: #ececec;
}

.all-projects .all-projects__title {
    text-align: center;
    margin-bottom: 50px;
}

.all-projects .all-projects__tetx {
    width: 730px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 0 auto;
    margin-bottom: 70px;
}

.all-projects .all-projects-conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.all-projects .all-projects-conteiner .item .item-img {
    width: 255px;
    transition: .5s ease-in-out transform;
    -webkit-transition: .5s ease-in-out transform;
    -moz-transition: .5s ease-in-out transform;
    -ms-transition: .5s ease-in-out transform;
    -o-transition: .5s ease-in-out transform;
    cursor: pointer;
}

.all-projects .all-projects-conteiner .item .item-img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.all-projects .all-projects-conteiner .item .item-img img {
    width: 100%;
}

.all-projects .all-projects__btn {
    width: 200px;
    height: 45px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.video {
    height: 735px;
    background: url('../img/bg/bg3.png') center center/cover no-repeat;
    padding-top: 70px;
}

.video .video__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

.video .video__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.video .blockVideo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

.video .blockVideo .video-id {
    width: 970px;
    height: 430px;
    background-color: rgb(66, 66, 66);
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video .blockVideo .video-id .video-id__play {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
    width: 300px;
    height: 100px;
    background:transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.video .blockVideo .video-id .video-id__play img {
    margin-right: 21px;
    width: 60px;
}

.mailing {
    padding: 85px 0 85px 0
}

.mailing .mailing__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.mailing .mailing__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 20px;
}

.mailing .mailingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 35px 0;
}

.mailing .mailingBlock .mailingBlock-id {
    width: 490px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    display: flex;
    justify-content: space-between;
}

.mailing .mailingBlock .mailingBlock-id .mailingBlock-id__input {
    width: 300px;
    padding: 15px 0 13px 33px;
    border: none;
   border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -ms-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}

.mailing .mailingBlock .mailingBlock-id .mailingBlock-id__btn {
    width: 190px;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    -ms-border-radius: 0 30px 30px 0;
    -o-border-radius: 0 30px 30px 0;
    border: none;
    background: #4985FF;
    cursor: pointer;
    padding: 15px 0 13px 0;
}

.mailing .mailing__podtext {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;

}

.footer {
    height: 413px;
    background: #f6f6f8;
    padding: 70px 0 30px 0;
}

.footer .conteiner-link {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #E0E0E0;
}

.footer .conteiner-link .item .item__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 35px;
}

.footer .conteiner-link .item .item-list .item-list-items {
    list-style-type: none;
}

.footer .conteiner-link .item .item-list .item-list-items .item-list-items__item {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer .conteiner-link .item .item-list .item-list-items .item-list-items__item:last-child {
    margin-bottom: 0;
}

.footer .conteiner-link .item .item-list .item-list-items .item-list-items__item img {
    margin-right: 15px;
}

.footer .footer__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    margin-top: 10px;
}